<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/extra.css">
	<link rel="stylesheet" type="text/css" href="../../css/fluffy.css">
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="../../css/all.css">
	<title>index File</title>
</head>
<body>
	<div class="wrapper">
		<div class="top">
		
			<div class="logo">
				<a href="../../index.html"> <img src="../../asset/logo.jpg" alt ="log"> </a>
				<p>Edu Specs</p>
			</div>
			 <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn-btn-outline-success" type="submit">Search</button>
    </form>
  </div>
			<div class="top-right">
				<div class="all">
					<button class="dropbtn allBlogs" onclick=showBlogs()>All Blogs </button>
					<div class="content-blogs">
						<div class="tech col-blogs">
							<h3>Tech</h3>
							<ul class="drop-list">
								<li>Machine Learning</li>
								<li>Data Science</li>
								<li>Blockchain Technology</li>
								<li>Deeplearning</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>
						<div class="management col-blogs">
							<h3>Management</h3>
							<ul class="drop-list">
								<li>Corporate Finance</li>
								<li>Digital Marketing</li>
								<li>Business Valuation</li>
								<li>Financial Markets</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>		
					</div>
				</div>
				<div class=" Popular pop">
					<button class="dropbtn"  onclick=showPop()>Popular</button>
					<div class="content-pop">
						<div class="col-pop">
							
							<p>This is something about Popular tags</p>
						</div>
					</div>
				</div>
				<a href="" class="links info">Infographics</a>
				<a href="" class="links ebooks">E-books</a>
				
		<!--The subscribe button content--->
				<div class="sub">
					<button class="sub-btn" >Subscribe</button>
					<div class = "sub-modal">
						<div class="modal-content">
							<span class="close">&times; <!--the x for closing--></span>
							<form>
								<h4>Subscribe to our Newsletter</h4>
								<label>Email:</label><input type="email" required placeholder="Enter Email">
								<button>Subscbibe</button>
							</form>
						</div>
					</div>
				</div>
				
					
			</div>
			
		</div>
		

		<div class="container">
		<div class="mainTitle">
			<p>Data Science</p>
			</div>
				<div class="row">
			<div   class="hov1">
				<h2 class="mainheading"> Data Science: Overview</h2>
                <div class="description">
                    <h3 style="color:blue;">Introduction</h3>
					<p>Data Science is an inter-disciplinary field which is the combination of three domains, computer science, 
                        Business or domain expertise and Math & statistics. There are other skill too, which can be considered but 
                        most of the skills are covered through these three disciplines. There are some other sources which describes data 
                        science as the combination of specialized statistics, data analytics or business analytics and machine learning. 
                        We can observe the same from the following Venn Diagram.
                    </p>
                    <img src="../../asset/DataScience/dataScience.JPG" class="image-fluidd" alt="Data Science">
                    <p>Data Science have a lot of application within various fields such as Amazon and Netflix recommendations, recognition systems 
                        (image, text, video, audio, face detection), fraud detection, predictions, insights visualization, forecasting (weather, sales, revenue) 
                        and spam e-mail detection.
                    </p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div  class="hov1">
				<h2 class="mainheading" style="color: blue;">Data Science Life Cycle</h2><br><br>
                <img src="../../asset/DataScience/dataScienceCycle.JPG" class="image-fluidd" alt="Life Cycle">
                <div class="description">
                    <h4 style="color: chocolate;">Problem Understanding</h4>
                    <p>Whenever we start a project within any company or team, we should have enough market understanding of various industries. 
                        It can be a Financial services, Information technology (IT), Investment Banking (IB), Financial Technology (FinTech) and 
                        Health industry etc., but why does this market understanding seem so mandatory? Because, it is essential to understand its 
                        objectives and problems. And for that we should know enough about our repective market indestry and its problems.
                   </p>
                   <br>
                   <p>
                       Problem understanding is among one of inital stage of data science life cycles. Without problem understanding, all of the insights 
                       are useless because you should know what you are doing, and the aim behind data analytics and predition or forecasting. 
                   </p>
                   <br>
                   <p>
                       For example: you are working Netflix as a data scientist(OTT platforms), and a dataset is given to you, and you have to compare your company 
                       to other companies (who are your competitors within the same market), you also have to find out market share of the company, its revenue, hiddend 
                       data patterns. So, basically, you know that in which industry your working, and you are familiar with its competitiveness and problems.
                   </p>
                   <br>
                   <h4 style="color: chocolate;">Data Understanding</h4>
                   <p><b>Data understanding</b> is the step in which you do <b><u>data collection</u></b> from various sources, it can be surveys, datasets from any company 
                    or team or people and websites, who do research or provide respective market data. We should know about which kind of datasets we should collect. It must 
                    be relevant to your problems or objectives.
                   </p>
                   <br>
                   <p>
                       After <b><u>Data collection</u></b>, we proceed towards <b><u>Exploratory Data Analysis(EDA),</u></b>
                       we do find out features, correlation between variables, data types (numerical and non-numerical) its structures and many other information through visualization 
                       tools (matplotlib & seaborn, Tableau, Power BI and R).
                   </p>
                </div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading" style="color: chocolate;">Data Preparation</h3>
				<div class="description">
					<p></p>
				</div>
				<div class="description">
					<p>
                        After Data Understanding step, the next step within <b>Data Science Life Cycle</b> is Data Preparation. It mainly consists three steps: 
                    </p>
                    <h5 style="color:blue ;">1. Data Wrangling: </h5>
                    <p>
                        It includes steos like selecting the relevant data, integrating the data by merging the data sets, cleaning it handling the missing values by 
                        either removing them or imputing them with relevant data, treating erroneous data by removing them, also check for outliers and handle them.
                    </p>
                    <h5 style="color: blue;">2. Feature Selection: </h5>
                    <p>
                        This is a selection process of subset of input features from the dataset. This process is primarily focused on removing non-informative or redundant 
                        predictors from the model. <br>
                        Two types of feature selection:
                    </p>
                    <ul>
                        <li>
                            <u><b>Unsupervised Learning:</b></u>
                            do not use target variable (unknown targeted variable)
                            <ul><li><b>Correlation</b></li></ul>
                        </li>
                        <li><u><b>Supervised Learning:</b></u></li>
                        use the target variable
                        <ul>
                            <li><u>Wrapper:</u> Search for well-performing subsets of features</li>
                            <li><u>Filter:</u> Select subsets of features based on their relationship with the target.</li>
                            <li><u>Intrinsic:</u> Algorithms that perfrom automatic features selection during training.</li>
                        </ul>
                    </ul>
                    <h5 style="color: blue;">3. Feature Engineering</h5>
                    <p>Feature engineeing is the process transforming raw data into features that better represent the underlying problem 
                        to the predictive models, resulting in improved model accuracy on unseen data.
                    </p>
                    <p>So, we do feature selection and feature engineering in which we select or transform raw data into featured data-sets, 
                        which helps us to find out relevant features and prepare a data set for descriptive and predictive analytics.
                    </p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">Algorithm Selection </h3> <br>
				<div class="description">
					<p>
                        Algorithm selection and evaluation precess is known of data analysis. It includes choosing an appropriate statistical algorithm or 
                        machine learning algorithm on the basis of its input and output data-types (which we get after data understanding and data preparation processes). 
                        We should choose an appropriate model, it can be regression, clustering, or classification models based on problems.
                    </p>
                    <p>
                        After choosing the model, amongst the various algorithms present. We need to tune a hyper parameter of each model to achieve the desired performance.
                    </p>
                    <h4>evaluation</h4>
                    <p>
                        Last step of machine learning cycle, and second last step of data sciencce life cycle, <b>Evaluation</b> is the process in which we evaluate the model or 
                        algorithm by its <b>accuracy</b> or efficiency and checkout the <b>relevance</b> with the problem or its solution.
                    </p>
                    <p>
                        Where accuracy talks about the performance of machine learning algorithm or model for the given prepared data set. And, Relevance step checkout that the insights 
                        came from the project are relevant or not and answer the probelm or not.
                    </p>
                    <p>
                        We should also have focus on <b><i><u>performance and generalizability.</u></i></b> We need to make sure that there should be a correct balance between performance 
                        generalization, which refers that the created model is biased towards any side.
                    </p>
                    <h4 style="color:chocolate;">Deloyment</h4>
                    <p>Most of the people think that Data Modelling and Evaluation is the final stage of Data Science Life Cycle, but that's not the truth. There is one more step, which is known Deployment. 
                        The concept of Deployment in data science refers to the application of a model for prediction using a new data. In this process we use machine learning model into an existing productive 
                        environment to make practical business decisions based on the data.
                    </p>
                    <p>
                        We should also focus on above steps (Data Understanding, Data Preparation, ALgorithm or model selection and evaluation), because it seems a primitive thing to do this step but any type 
                        of error can create a huge difference due to this last process.
                    </p>
				</div>
			</div>
			</div>
		
		</div>
		<div class="social">
			<a href="#"><i class ="fab fa-google fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-facebook-f fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-twitter fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-youtube fa-2x"></i></a><br>	
		</div>
		<aside class="right">
			<p>Right</p>
		</aside>
		<div class = "bottom ">
			<div class ="company ">
				<h3>Company</h3>
				<ul class = "footer-lists">
					<li>About</li>
					<li>Team</li>
					<li>Carreers</li>
					<li>Student Reviews</li>

				</ul>
			</div>
			<div class ="blogs ">
				<h3>Blogs</h3>
				<ul class = "footer-lists">
					<li>Tech</li>
					<li>Management</li>
					<li>Popular</li>
					<li>All blogs</li>
				</ul>
			</div>
			<div class ="resources">
				<h3>Resources</h3>
				<ul class = "footer-lists">
					<li>Infographic</li>
					<li>E-books</li>
				</ul>
			</div>
			<div class="support ">
				<h3>Support</h3>
				<ul class = "footer-lists">
					<li>Contact Us</li>
					<li>Subscribe</li>
				</ul>
			</div>
			<div class="copyR">
				<div class = "copyr">
					&#169; 2015 to 2021 CFI Education Inc
				</div>
				<div class="terms">
					<div class="social-bottom">
						<a href="#"><i class ="fab fa-google "></i></a>
					<a href="#"><i class="fab fa-facebook-f "></i></a>
					<a href="#"><i class="fab fa-twitter "></i></a>
					<a href="#"><i class="fab fa-instagram "></i></a>
					<a href="#"><i class="fab fa-youtube "></i></a>	
					</div>
					<div class = "policy">
						Privacy Policy Terms of Use Terms of Service Legal
					</div>
				</div>			
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/script.js"></script>
</body>
</html>