<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/extra.css">
	<link rel="stylesheet" type="text/css" href="../../css/fluffy.css">
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="../../css/all.css">
	<title>index File</title>
</head>
<body>
	<div class="wrapper">
		<div class="top">
		
			<div class="logo">
				<a href="../../index.html"> <img src="../../asset/logo.jpg" alt ="log"> </a>
				<p>Edu Specs</p>
			</div>
			 <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn-btn-outline-success" type="submit">Search</button>
    </form>
  </div>
			<div class="top-right">
				<div class="all">
					<button class="dropbtn allBlogs" onclick=showBlogs()>All Blogs </button>
					<div class="content-blogs">
						<div class="tech col-blogs">
							<h3>Tech</h3>
							<ul class="drop-list">
								<li>Machine Learning</li>
								<li>Data Science</li>
								<li>Blockchain Technology</li>
								<li>Deeplearning</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>
						<div class="management col-blogs">
							<h3>Management</h3>
							<ul class="drop-list">
								<li>Corporate Finance</li>
								<li>Digital Marketing</li>
								<li>Business Valuation</li>
								<li>Financial Markets</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>		
					</div>
				</div>
				<div class=" Popular pop">
					<button class="dropbtn"  onclick=showPop()>Popular</button>
					<div class="content-pop">
						<div class="col-pop">
							
							<p>This is something about Popular tags</p>
						</div>
					</div>
				</div>
				<a href="" class="links info">Infographics</a>
				<a href="" class="links ebooks">E-books</a>
				
		<!--The subscribe button content--->
				<div class="sub">
					<button class="sub-btn" >Subscribe</button>
					<div class = "sub-modal">
						<div class="modal-content">
							<span class="close">&times; <!--the x for closing--></span>
							<form>
								<h4>Subscribe to our Newsletter</h4>
								<label>Email:</label><input type="email" required placeholder="Enter Email">
								<button>Subscbibe</button>
							</form>
						</div>
					</div>
				</div>
				
					
			</div>
			
		</div>
		

		<div class="container">
		<div class="mainTitle">
			<p>Machine Learning</p>
			</div>
				<div class="row">
			<div   class="hov1">
				<h2 class="mainheading"> Machine Learning: Overview</h2>
				<img src="../../asset/MachineLearning/heading.JPG" class="image-fluidd" alt="Top Photo">
                <div class="description">
					<p>In 1959, <b>Arthus Samuel</b> defined machine learning <b>as the field of study that gives
                        computers the ability to learn without being explicitly programmed.</b> But it seems an 
                    informal definition of machine learning.</p>
                    <p>Tom Mitchell provided more modified form of definition of Machine Learning:</p>
                    <blockquote><b>"A computer program is said to learn from experience E with respect to some class 
                        of tasks T and performance measure P, if its performance at tasks in T, as measured by P, improves 
                        with experience E."
                    </b></blockquote>
                    <p style="text-align: right;">-Tom Mitchell</p>
                    <p>Machine Learning is a subset of artifical intelligence. In which computers analyse data, 
                        find hidden data patterns or relationships, and try to extract information to crack relations 
                        and provide insights. For humans, it is very hard to wrte the complicated programmes or algorithms
                         but through machine learning, computers or gadgets learn and improve from experience without being
                          explicit programmed. It has varios applications such as Image Processing, Data Mining, Healthcare,
                          Video Games, Robotics, Finance and Text Analysis.
                    </p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div  class="hov1">
				<h2 class="mainheading" style="color: blue;">Types of Machine Learning</h2><br><br>
                <div class="description">
                    <p>Machine learning can be categorized into three parts on the basis of its nature of learning,
                        which are as follows-
                   </p>
                </div>

				<img src="../../asset/MachineLearning/typesofML.JPG" class="image-fluidd" alt="Types of Ml">
				
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading" style="color: chocolate;">1. Supervised Learning</h3>
				<div class="description">
					<p></p>
				</div>
				<div class="description">
					<p><b>Supervised Learning</b> provides power tool to classify and process data using machine language. In 
                    supervised learning, using labelled data (dataset has features or labels), supervised machine learning algorithms 
                    predict the classification of other unlabelled data. It is the easiest paradigm of machine learning to understand 
                    and simplest to implement</p>
				</div>
                <img src="../../asset/MachineLearning/supervisedOne.JPG" class="image-fluidd" alt="SupervisedOne">
                <div class="description">
                    <p><i>It can be classified into two subcategories: </i></p>
                </div><br>
                <img src="../../asset/MachineLearning/supervisedTwo.JPG" class="image-fluidd" alt="SupervisedTwo">
                <div class="description">
                    <h4 style="color: darkblue;">a. Regression</h4>
                </div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">2.Social Media Marketing </h3> <br>
				<div class="description">
					<p>Social Media Marketing (SMM), can be defined as the amrketing refers
					 to process of gaining traffic or attention through social media platforms.<br>
					 And, in this era of internet there is no one who is hidden from it.</p>
				 </div>
				 <img src="../../asset/DigitalMarketing/socialmedia.JPG"  class="image-fluidd" alt="Social Media">
				 <div class="description">
					 <p>The top most popular social media platforms are LinkedIn, Instagram, Pinterest,
					  Facebook, Twitter, Snapchat and YouTube.</p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">3. Search Engine Optimization</h3>
				<div class="description">
					<p>SEO or Search Engine Optimization can be defined as the process of getting traffic
					from the <b>"free","organic","editorial" or "natural"</b> search results on search engines.</p>
				</div>
				<img src="../../asset/DigitalMarketing/searchengine.JPG"  class="image-fluidd" alt="Search Engine Optimization">
				<div class="description">
					<p>There are three types of SEO techniques:</p>
				<ol>
					<li>White Hat</li>
					<li>Black Hat</li>
					<li>Grey Hat</li>
				</ol>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">4.Content Marketing </h3>
				<div class="description">
					<p>Content marketing is a strategic marketing approach focused on creating and 
					distributing valuable, relevant, and consistent content (infographics, reports, eBooks,<br>
					e-mails, blogs and videos) to attract and retain a clearly define audience to drive profitable customers
					action.</p>
				 </div>
				<img src="../../asset/DigitalMarketing/contentmarketing.JPG"  class="image-fluidd" alt="Content Marketing">
				<div class="description">
					<p>Benefits of Content Marketing within enterprises are:</p>
				<ul>
					<li>Increased Sales</li>
					<li>Got loyal customers</li>
					<li>Cost Saving</li>
				</ul>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">5.Email Marketing</h3>
				<div class="description">
					<p>Email marketing can be referred as the subset of digital marketing which uses email to 
					promote products and services. But, a better definition of email marketing can be delivered <br>
					as the used of email to develop relationships with potential customers or/and clients.</p>
				</div>
				<img src="../../asset/DigitalMarketing/emailmarketing.JPG"  class="image-fluidd" alt="Email Marketing">
				<div class="description">
					<p>There are 94% users of internet use email, while only 61% users use social media platforms. And 
					75% of adult users prefer email marketing over others marketing methods. That's why we must know about <br>
					about the marketing technique.</p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">6.Web Analytics</h3>
				<img src="../../asset/DigitalMarketing/webanalytics.JPG"  class="image-fluidd" alt="Web Analytics">
				<div class="description">
					<p>Web Analytics is the process of analysing the behaviour of visitors to a website. Web 
					analytics enable a business to attract more visitors.</p>
					<p>It can be categorised into two</p>
				<ol>
					<li>On-Site Web Analytics</li>
					<li>Off-Site Web Analytics</li>
				<ol>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">7. Sales Funnel</h3>
				<div class="description">
					<p>The ultimate objective of digital marketing techniques is to bring potential customers 
					and having sells for the respective businesses. To create sales funnel, you have to have<br>
					knowledge a comprehensive digital marketing approach, you need to know all the verticals of 
					digital marketing to create a profitable and successful sales funnel, an ideal sequence of funnel<br>
					is when someone goes through to go from traffic to repeat customers. It is a system that adds and removes 
					bariier for someone to become a customer to repeat customer when it is appropriate.</p>
				</div>
				<img src="../../asset/DigitalMarketing/salesfunnel.JPG"  class="image-fluidd" alt="Sales Funnel">
				<div class="description">
					<p>It can be simple or short or highly complex.</p>
				</div>
			</div>
			</div>
			
		
		</div>
		<div class="social">
			<a href="#"><i class ="fab fa-google fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-facebook-f fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-twitter fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-youtube fa-2x"></i></a><br>	
		</div>
		<aside class="right">
			<p>Right</p>
		</aside>
		<div class = "bottom ">
			<div class ="company ">
				<h3>Company</h3>
				<ul class = "footer-lists">
					<li>About</li>
					<li>Team</li>
					<li>Carreers</li>
					<li>Student Reviews</li>

				</ul>
			</div>
			<div class ="blogs ">
				<h3>Blogs</h3>
				<ul class = "footer-lists">
					<li>Tech</li>
					<li>Management</li>
					<li>Popular</li>
					<li>All blogs</li>
				</ul>
			</div>
			<div class ="resources">
				<h3>Resources</h3>
				<ul class = "footer-lists">
					<li>Infographic</li>
					<li>E-books</li>
				</ul>
			</div>
			<div class="support ">
				<h3>Support</h3>
				<ul class = "footer-lists">
					<li>Contact Us</li>
					<li>Subscribe</li>
				</ul>
			</div>
			<div class="copyR">
				<div class = "copyr">
					&#169; 2015 to 2021 CFI Education Inc
				</div>
				<div class="terms">
					<div class="social-bottom">
						<a href="#"><i class ="fab fa-google "></i></a>
					<a href="#"><i class="fab fa-facebook-f "></i></a>
					<a href="#"><i class="fab fa-twitter "></i></a>
					<a href="#"><i class="fab fa-instagram "></i></a>
					<a href="#"><i class="fab fa-youtube "></i></a>	
					</div>
					<div class = "policy">
						Privacy Policy Terms of Use Terms of Service Legal
					</div>
				</div>			
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/script.js"></script>
</body>
</html>