<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/extra.css">
	<link rel="stylesheet" type="text/css" href="../../css/fluffy.css">
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="../../css/all.css">
	<title>index File</title>
</head>
<body>
	<div class="wrapper">
		<div class="top">
		
			<div class="logo">
				<a href="../../index.html"> <img src="../../asset/logo.jpg" alt ="log"> </a>
				<p>Edu Specs</p>
			</div>
			 <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn-btn-outline-success" type="submit">Search</button>
    </form>
  </div>
			<div class="top-right">
				<div class="all">
					<button class="dropbtn allBlogs" onclick=showBlogs()>All Blogs </button>
					<div class="content-blogs">
						<div class="tech col-blogs">
							<h3>Tech</h3>
							<ul class="drop-list">
								<li>Machine Learning</li>
								<li>Data Science</li>
								<li>Blockchain Technology</li>
								<li>Deeplearning</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>
						<div class="management col-blogs">
							<h3>Management</h3>
							<ul class="drop-list">
								<li>Corporate Finance</li>
								<li>Digital Marketing</li>
								<li>Business Valuation</li>
								<li>Financial Markets</li>
								<a href="" class="top-links">See more</a>
							</ul>
						</div>		
					</div>
				</div>
				<div class=" Popular pop">
					<button class="dropbtn"  onclick=showPop()>Popular</button>
					<div class="content-pop">
						<div class="col-pop">
							
							<p>This is something about Popular tags</p>
						</div>
					</div>
				</div>
				<a href="" class="links info">Infographics</a>
				<a href="" class="links ebooks">E-books</a>
				
		<!--The subscribe button content--->
				<div class="sub">
					<button class="sub-btn" >Subscribe</button>
					<div class = "sub-modal">
						<div class="modal-content">
							<span class="close">&times; <!--the x for closing--></span>
							<form>
								<h4>Subscribe to our Newsletter</h4>
								<label>Email:</label><input type="email" required placeholder="Enter Email">
								<button>Subscbibe</button>
							</form>
						</div>
					</div>
				</div>
				
					
			</div>
			
		</div>
		

		<div class="container">
		<div class="mainTitle">
			<p>Machine Learning</p>
			</div>
				<div class="row">
			<div   class="hov1">
				<h2 class="mainheading"> Machine Learning: Overview</h2>
				<img src="../../asset/MachineLearning/heading.JPG" class="image-fluidd" alt="Top Photo">
                <div class="description">
					<p>In 1959, <b>Arthus Samuel</b> defined machine learning <b>as the field of study that gives
                        computers the ability to learn without being explicitly programmed.</b> But it seems an 
                    informal definition of machine learning.</p>
                    <p>Tom Mitchell provided more modified form of definition of Machine Learning:</p>
                    <blockquote><b>"A computer program is said to learn from experience E with respect to some class 
                        of tasks T and performance measure P, if its performance at tasks in T, as measured by P, improves 
                        with experience E."
                    </b></blockquote>
                    <p style="text-align: right;">-Tom Mitchell</p>
                    <p>Machine Learning is a subset of artifical intelligence. In which computers analyse data, 
                        find hidden data patterns or relationships, and try to extract information to crack relations 
                        and provide insights. For humans, it is very hard to wrte the complicated programmes or algorithms
                         but through machine learning, computers or gadgets learn and improve from experience without being
                          explicit programmed. It has varios applications such as Image Processing, Data Mining, Healthcare,
                          Video Games, Robotics, Finance and Text Analysis.
                    </p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div  class="hov1">
				<h2 class="mainheading" style="color: blue;">Types of Machine Learning</h2><br><br>
                <div class="description">
                    <p>Machine learning can be categorized into three parts on the basis of its nature of learning,
                        which are as follows-
                   </p>
                </div>

				<img src="../../asset/MachineLearning/typesofML.JPG" class="image-fluidd" alt="Types of Ml">
				
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading" style="color: chocolate;">1. Supervised Learning</h3>
				<div class="description">
					<p></p>
				</div>
				<div class="description">
					<p><b>Supervised Learning</b> provides power tool to classify and process data using machine language. In 
                    supervised learning, using labelled data (dataset has features or labels), supervised machine learning algorithms 
                    predict the classification of other unlabelled data. It is the easiest paradigm of machine learning to understand 
                    and simplest to implement</p>
				</div>
                <img src="../../asset/MachineLearning/supervisedOne.JPG" class="image-fluidd" alt="SupervisedOne">
                <div class="description">
                    <p><i>It can be classified into two subcategories: </i></p>
                </div><br>
                <img src="../../asset/MachineLearning/supervisedTwo.JPG" class="image-fluidd" alt="SupervisedTwo">
                <div class="description">
                    <h4 style="color: darkblue;">a. Regression</h4>
					<p>Regression is a supervised learning technique which deals with continous quantitative dataset, it is used in 
						predicting, forecasting, and finding relationships between two quantitative features in which a few are independent 
						of any factor and others are dependent on independent variables. It can be further classified into 
						<font color="blue">linear, polynomial and multiple linear, Support Vector Regression, Bayesian, Dicision-tree Regression, 
							Random Forest Regression, Ridge Regression, Lasso Regression and Elastic Net Regression.
						</font> It is used in weather forecasting, population growth prediction, market forecasting, life expectancy growth prediction,
						market forecasting, life expectancy estimation and real state price prediction.
					</p>
					<h4 style="color:darkblue;"> b. Classification</h4>
					<p>classification involves grouping the data into various classes on the bsis of different features. It has different types of models 
						like <font color="blue"> Logistic Regression, Random Forest, Naive Bayes, K-Nearest Neighbours, Support Vector Machines(SVM) and Decision Tree Classification.</font>
					</p>
                </div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">2.Unsupervised Learning </h3> <br>
				<div class="description">
					<p><b>Unsupervised Learning</b> is the second subcategory of machine learning. In which machines deals with unlabelled 
					and unclassified datasets which are used to train the algorithm. In unsupervised learning, the algorithms explore, try 
				to identify some hidden pattern or structures within the data. The role of machine is grouping the unsorted data on the basis 
				of similarties, differences and patterns without any previous training.
				</p>
				<p><i>Types of Unsupervised Learning: </i></p>
				</div>
				 <img src="../../asset/MachineLearning/unsupervised.JPG"  class="image-fluidd" alt="Unsupervised">
				 <div class="description">
					 <h4 style="color: darkblue;">a. Clustering:</h4>
					 <p>
						 It is the task of dividing unlabelled entites into a number of various groups without any pre-trained model, 
						 these groups consist similar data points and these gorups used to make clusters.<br>
						 There are many clustering algorithms in machine learning, which varies with its applications. Some of them are 
						 <font color:"blue">K-Means clustering, Hierarchical Clustering and Fuzzy C-Means Clustering.</font>
					 </p>
					 <h4 style="color:darkblue;">Dimensionality Reduction: </h4>
					 <p>
						 It is the transformation of data to useful feature containing data from highly-featured data.
						 In layman term, it is a technique that reduce the irrelevant data features. Some of the techniques are 
						 <font color:"blue">Principal Component Analysis, Linear Discriminant Analysis and Kernel Principal Component Analysis.</font>
					 </p>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">3. Reinforcement Learning</h3>
				<div class="description">
					<p>Reinforcement learning is a subcategory of machine learning in which software take actions in an environment in order to 
						maximize the notion of cumulative rewards and punishments. In layman language, it involves models to learn from its past 
						mistakes and then the machine tries to correct it in the next iteration. It is used in Robotics, Business, Gaming, Navigation,
						Data processing, creating training systems and aviation. Reinforcement learning has three main components
					</p>
					<ol>
						<li>Agent</li>
						<li>Environment</li>
						<li>Action</li>
					</ol>
					
				<img src="../../asset/MachineLearning/reinforcementLearning.JPG"  class="image-fluidd" alt="Reinforcement Learning">
				<p>
					There a lot of algorithms within Reinforcement learning, which are applied in different domains, some of them are
					<font color:"blue">Q-Leaning, Deep Q Network, Policy Gradient and Markov Decision Process.</font>
				</p>
				</div>

			</div>
			</div>
			
			<div class="row">
			<div   class="hov1">
				<h3 class="heading">4.Semi-Supervised Learning </h3>
				<div class="description">
					<p><b>Semi-Supervised Learning</b> is the fourth type of machine learning, which deals with both types of raw data, 
					labelled and unlabelled data. In layman language, it is the hybrid of Supervised and Unsupervised learning which consist 
					small amount of labelled data and significant amount of unlabelled data respectively. It is very useful with compare to 
					Supervised learning because the process of labelling datasets is a time consuming process and expensive, while on the extra 
					hand it consist the possibilities of emotional biasing too. It can use each type of method such as classification, regression 
					 and prediction. 
				</p>
				 </div>
				<img src="../../asset/MachineLearning/semiSupervised.JPG"  class="image-fluidd" alt="Semi-Supervised">
			</div>
			</div>
		
		</div>
		<div class="social">
			<a href="#"><i class ="fab fa-google fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-facebook-f fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-twitter fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a><br>
			<a href="#"><i class="fab fa-youtube fa-2x"></i></a><br>	
		</div>
		<aside class="right">
			<p>Right</p>
		</aside>
		<div class = "bottom ">
			<div class ="company ">
				<h3>Company</h3>
				<ul class = "footer-lists">
					<li>About</li>
					<li>Team</li>
					<li>Carreers</li>
					<li>Student Reviews</li>

				</ul>
			</div>
			<div class ="blogs ">
				<h3>Blogs</h3>
				<ul class = "footer-lists">
					<li>Tech</li>
					<li>Management</li>
					<li>Popular</li>
					<li>All blogs</li>
				</ul>
			</div>
			<div class ="resources">
				<h3>Resources</h3>
				<ul class = "footer-lists">
					<li>Infographic</li>
					<li>E-books</li>
				</ul>
			</div>
			<div class="support ">
				<h3>Support</h3>
				<ul class = "footer-lists">
					<li>Contact Us</li>
					<li>Subscribe</li>
				</ul>
			</div>
			<div class="copyR">
				<div class = "copyr">
					&#169; 2015 to 2021 CFI Education Inc
				</div>
				<div class="terms">
					<div class="social-bottom">
						<a href="#"><i class ="fab fa-google "></i></a>
					<a href="#"><i class="fab fa-facebook-f "></i></a>
					<a href="#"><i class="fab fa-twitter "></i></a>
					<a href="#"><i class="fab fa-instagram "></i></a>
					<a href="#"><i class="fab fa-youtube "></i></a>	
					</div>
					<div class = "policy">
						Privacy Policy Terms of Use Terms of Service Legal
					</div>
				</div>			
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/script.js"></script>
</body>
</html>